.container { 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  
  width: 100%;
  margin-bottom: 5px;
}

.container > h2 {
  text-align: center
}

.proteges, .daily {
  background-color:rgba(255,255,255,0.8);
  left: 10%;
  width: 100%;
  position:relative;
  font-size: calc(6px + 2vmin);
}

#target-txt {
  font-size: 2em;
  color: red
}

.daily > h1{
  text-align: right;
}

#prev-protege-btn {
  display: inline-block  ;
  margin-right: 1em
}

#proteges-header-container {
  text-align: center
}

#next-protege-btn {
  display: inline-block;
  margin-left: 1em
}

#proteges-header {
  display: inline-block;
}

#navbar-txt {
  color: white
}

#menu-nav {
  position: relative;
  z-index: 1;
  width: 117%
}
.creation-form {
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  width: 30%;
  border-radius: 1em;
  right: 2%;
  top: 20%;
  text-align: center;
  font-size: calc(4px + 2vmin);
  z-index: 1
}

.App-link {
  color: #61dafb;
}

#footer {
  height: 200px
}