.container > h2 {
  text-align: center;
}

.add-btn {
  position: fixed;
  top: 20%;
  right: 0%;
  z-index: 1;
}

.edit-btn {
  position: fixed;
  top: calc(30% + 10px);
  right: 0%;
  z-index: 1;
}

.mt-3 {
  width: 100% !important
}
.remove-btn {
  position: fixed;
  top: calc(25% + 5px);
  right: 0%;
  z-index: 1;
}

.ex-meal-container {
  width: 100%;
  text-align: center
}

.remove-btn:hover,
.add-btn:hover {
  background-color: red !important;
  border-color: red !important;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  left: 10%;
  width: 80%;
  position: absolute;
  font-size: calc(6px + 2vmin);
}

.proteges,
.daily {
  width: 100%;
  position: relative;
}
.daily {
  height: 10% !important;
}

.proteges {
  height: 80% !important;
}

#target-txt {
  font-size: 2em;
  color: red;
}

.daily > h1 {
  text-align: right;
}

#prev-protege-btn {
  display: inline-block;
  margin-right: 1em;
}

#proteges-header-container {
  text-align: center;
}

#next-protege-btn {
  display: inline-block;
  margin-left: 1em;
}

#proteges-header {
  display: inline-block;
}

#main-info-container {
  display: inline-block;
}
#protege-data {
  text-align: left;
}

#target {
  position: relative;
  text-align: center;

  bottom: 5%;
}

#menu-nav {
  position: relative;
  z-index: 2;
  width: 117%;
}

.creation-form {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
  border-radius: 0.5em;
  top: 8%;
  right: 20%;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

#footer {
  height: 200px;
}
